.container {
  text-align: center;
}
.element {
  height: auto;
  width: min(90%, 400px);
  font-size: 200%;
  text-decoration: none;
  margin: 5px;
  border-radius: 10px;
  background: black;
  color: rgb(248, 240, 213);
  font-family: Impact, Charcoal, sans-serif;
  text-transform: capitalize;
  padding: 1px 10px;
  align-self: center;
  text-align: center;
  letter-spacing: 2px;
}
.header {
  text-align: center;
  font-size: 80px;
  font-family: "Arial Black", Gadget, sans-serif;

  font-weight: bolder;

  color: rgb(41, 10, 128);
  text-shadow: 2px 4px 2px rgb(32, 184, 218);
}
.functionality {
  margin: auto;
  justify-content: center;
  display: flex;
  /* background-color: blue; */
  /* width: 100px; */
  text-align: center;
}
.time-container {
  /* margin-left: 72vh; */
  margin-top: 20px;
  justify-content: center;
  display: flex;
  /* width: 95%; */
  /* width: 430px; */
  /* margin-right: 10px; */
}
.time {
  /* margin-right: 50px; */
  /* padding: 0 10px; */
  width: 90px;
  color: rgb(248, 207, 72);
}
.centiseconds {
  margin-right: 20px;
}
.start-reset {
  font-size: 150%;
  margin-right: 10px;
}
.start {
  color: rgb(30, 226, 30);
  /* margin-bottom: 1; */
  width: 200px;
}
.reset {
  color: blue;
  width: 200px;
}
.start-reset {
  background-color: rgba(0, 0, 0, 0);
  width: 200px;
}
.stopwatch {
  margin: 20px auto;
  text-align: center;
}
.stopping-points {
  margin: 10px;
  text-align: center;
}
.stopping-list {
  width: 90%;
  height: max(170px, auto);
  margin: 10px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 10px;
}
.index-list {
  color: yellow;
}
.stopping {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.time-item {
  color: yellow;
}
.change-color {
  /* margin: auto 30%; */
  color: orange;
  padding: 10px;
}
body {
  background-color: #36bbcf;
}
.btn {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .functionality {
    flex-wrap: wrap;
    /* width: 30%; */
  }
}
@media only screen and (max-width: 700px) {
  .functionality {
    flex-wrap: wrap;
    width: auto;
  }
  .stopping {
    flex-wrap: wrap;
  }
  /* .time-container {
    width: 100%;
  }
  body {
    width: 92%;
  } */
}
